.getstarted {
    border-radius: 35px;
    background: #FFFFFF;
    border: 3px solid #6C63FF;
    box-sizing: border-box;
    color: #6C63FF;
    
}
.fa-arrow-right {
    color: #6C63FF;
    margin-left: 8px;
}

